@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&family=Tiro+Bangla&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Tiro Bangla", "Noto Sans Bengali";
    background-color: #222;
    color: whitesmoke;
}