.choosing{
    width: 90dvw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.choice_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.choice_form > input{
    width: 60%;
    height: 2rem;
    text-align: center;
}


.choice_form > button{
    font-size: 1.3rem;
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
}